$color1: #ffffff;
$color2: #000000;
$color3: #1489d6;
$color4: #80e9f7;
$color5: rgba(136, 179, 175, 0.5);
$color6: #f8edb1;
$color7: #3b5998;
$color8: #125688;
$color9: #55acee;
$color10: #3a7caf;
$color11: #e0e95f;
$color12: rgb(248, 190, 83);
$color13: rgb(192, 192, 192);