<!-- Footer -->
<footer>
  <div id="nondisclaimer" class="row justify-content-center">
    <div class="social col-4">
      <!--This is to show all social websites-->
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram-square"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-pinterest-square"></i>
    </div>
  </div>

  <div id="disclaimer">
    <p class="text-center">
      This website is designed only for practice by Westcliff Student
    </p>
  </div>
</footer>
<script src="/js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>